{% extends "::base.html.twig" %}

{% block title %}CABlogBundle:Users:profile{% endblock %}

{% block body %}
<div class=”post”>
<h1>{{users.username}}'s post list</h1>
{% if posts is empty %}
<p>No post yet</p>
{% else %}
{% for post in posts|reverse(true) %}
<p><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a> {% if post.created %}{{ post.created|date('Y-m-d H:i:s') }}{% endif %}</p>

    <p>{{ post.content }}</p>
<br>
{% endfor %}
{% endif %}
</div>
{% endblock %}
